# Python
backend/__pycache__/
backend/.pytest_cache/
backend/storage/chroma/
backend/storage/uploads/*
backend/storage/generated/*
backend/storage/images/*
!backend/storage/uploads/.gitkeep
!backend/storage/generated/.gitkeep
!backend/storage/images/.gitkeep


# Node
frontend/node_modules/
frontend/.next/

# Env
*.env
frontend/.env.local
backend/.env

# OS
.DS_Store
Thumbs.db

# Github
.github/copilot-instructions.md
