fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
motor
pymongo
chromadb
openai
google-genai
python-dotenv
python-pptx
python-docx
pypdf
httpx
orjson
tiktoken
openai-whisper
groq
gTTS
playwright
docling
pywin32
nest_asyncio
pandas
openpyxl
pillow
tavily-python
